.member{
    background-color: '#01579b';
    font-style: bold;
    font-family: apple;
}

.member:hover{
    background-color: rgba(9, 175, 122, 0.764);
    color: white;
    border: 0px;
}


.tabl{
margin: 55px;
}
